ipywidgets==8.0.4
matplotlib
numpy
pandas
torch
torchvision==0.14.0
tqdm==4.64.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
